

<div class="container">

  <!-- Titulo del fomulario dependiendo si sera un registro o edicion de un empleado -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center fs-6" *ngIf="!isUpdate">Registro Empleados</h5>
      <h5 class="card-title text-center fs-6" *ngIf="isUpdate">Actualizar Empleado</h5>
    </div>

    <div class="card-body">

      <!-- Form -->
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="!isUpdate?registerEmployee(form):updateEmployee(form)">

        <div class="row">

          <!-- Campo del primero nombre -->
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
              <input type="text" class="form-control" formControlName="fisrtName" placeholder="Primer Nombre"
                aria-label="Username" aria-describedby="basic-addon1" [class.is-invalid]="campoNoValido('fisrtName')"
                [class.is-valid]="campoValido('fisrtName')">
            </div>
            <div style="margin-top: -2%; margin-bottom: 2%;" *ngIf="campoNoValido('fisrtName')">
              <small class="text-danger">
                Revisa primer nombre, es requerido, debe ser en mayúsculas, sin acentos y máximo 20 caracteres.
              </small>
            </div>
          </div>

          <!-- Campo del otros nombres -->
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
              <input type="text" class="form-control" formControlName="otherNames" placeholder="Otros Nombres"
                aria-label="Username" aria-describedby="basic-addon1" [class.is-invalid]="campoNoValido('otherNames')"
                [class.is-valid]="campoValido('otherNames')">
            </div>
            <div style="margin-top: -2%; margin-bottom: 2%;" *ngIf="campoNoValido('otherNames')">
              <small class="text-danger">
                Revisa otros nombres, es opcional, debe ser en mayúsculas, sin acentos y máximo 50 caracteres.
              </small>
            </div>
          </div>

        </div>

        <div class="row">

          <!-- Campo del primer apellido -->
          <div class="col-6">
            <div class="input-group  mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
              <input type="text" class="form-control" formControlName="firstLastName" placeholder="Primer Apellido"
                aria-label="Username" aria-describedby="basic-addon1"
                [class.is-invalid]="campoNoValido('firstLastName')" [class.is-valid]="campoValido('firstLastName')">
            </div>
            <div style="margin-top: -2%; margin-bottom: 2%;" *ngIf="campoNoValido('firstLastName')">
              <small class="text-danger">
                Revisa primer apellido, es requerido, debe ser en mayúsculas, sin acentos y máximo 20 caracteres.
              </small>
            </div>
          </div>

          <!-- Campo del segundo apellido -->
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
              <input type="text" class="form-control" formControlName="secondLastName" placeholder="Segundo Apellido"
                aria-label="Username" aria-describedby="basic-addon1"
                [class.is-invalid]="campoNoValido('secondLastName')" [class.is-valid]="campoValido('secondLastName')">
            </div>
            <div style="margin-top: -2%; margin-bottom: 2%;" *ngIf="campoNoValido('secondLastName')">
              <small class="text-danger">
                Revisa segundo apellido, es requerido, debe ser en mayúsculas, sin acentos y máximo 20 caracteres.
              </small>
            </div>
          </div>

        </div>


        <div class="row">

          <!-- Campo de seleccion del país del empleo -->
          <div class="col-3 mb-3">
            <select formControlName="countryJob" [class.is-invalid]="campoNoValido('countryJob')"
              [class.is-valid]="campoValido('countryJob')" class="form-select" aria-label="Default select example">
              <!-- Opciones Colombia y Estados Unidos -->
              <option selected>Seleccione País empleo</option>
              <option value="Colombia">Colombia</option>
              <option value="Estados Unidos">Estados Unidos</option>
            </select>
            <div style="margin-top: 2%; margin-bottom: -3%;" *ngIf="campoNoValido('countryJob')">
              <small class="text-danger">
                Selecciona un país de empleo.
              </small>
            </div>
          </div>

          <!-- Campo de selección del tipo de identificación -->
          <div class="col-3 mb-3">
            <select formControlName="documentType" [class.is-invalid]="campoNoValido('documentType')"
              [class.is-valid]="campoValido('documentType')" class="form-select" aria-label="Default select example">
              <!-- Opciones -->
              <option selected>Seleccione Tipo Identificación</option>
              <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
              <option value="Cédula de Extranjera">Cédula Extranjera</option>
              <option value="Pasaporte">Pasaporte</option>
              <option value="Permiso Especial">Permiso Especial</option>
            </select>
            <div style="margin-top: 2%; margin-bottom: -3%;" *ngIf="campoNoValido('documentType')">
              <small class="text-danger">
                Selecciona un tipo de identificación.
              </small>
            </div>
          </div>

          <!-- Campo del numero de identificación -->
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
              <input type="text" class="form-control" formControlName="documentNumber"
                placeholder="Número de Identificación" [class.is-invalid]="campoNoValido('documentNumber')"
                [class.is-valid]="campoValido('documentNumber')" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div style="margin-top: -2%; margin-bottom: 1%;" *ngIf="campoNoValido('documentNumber')">
              <small class="text-danger">
                Revisa número de identificación, sin acentos y máximo 20 caracteres.
              </small>
            </div>
          </div>

        </div>

        <div class="row">

          <!-- Campo del email generado -->
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
              <input type="text" class="form-control" formControlName="email" placeholder="Correo electrónico"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">{{dominioEmail}}</span>
            </div>
          </div>

          <!-- Campo de selección del área -->
          <div class="col-6 mb-3">
            <select formControlName="area" [class.is-invalid]="campoNoValido('area')"
              [class.is-valid]="campoValido('area')" class="form-select" aria-label="Default select example">
              <!-- Opciones -->
              <option selected>Seleccione Área</option>
              <option value="Recursos humanos">Recursos humanos</option>
              <option value="Cédula de Extranjera">Producción</option>
              <option value="Finanzas">Finanzas</option>
              <option value="Tecnología">Tecnología</option>
              <option value="Dirección">Dirección</option>
              <option value="Compras">Compras</option>
              <option value="Infraestructura">Infraestructura</option>
              <option value="Operación">Operación</option>
              <option value="Administración">Administración</option>
            </select>
            <div *ngIf="campoNoValido('area')" style="margin-top: 2%; margin-bottom: -3%;">
              <small class="text-danger">
                Selecciona un área.
              </small>
            </div>
          </div>

        </div>

        <hr>

        <div class="row">

          <!-- Campo del estado -->
          <div class="col-3">
            <label for="state" class="form-label">Estado</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-check"></i></span>
              <input type="text" class="form-control" formControlName="state" placeholder="Estado" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>

          <!-- Campo calendar para seleccionar fecha de ingreso -->
          <div class="col-3">
            <label for="ingressDate" class="form-label">Fecha de ingreso</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
              <input formControlName="ingressDate" placeholder="Fecha de ingreso" id="startDate" class="form-control" type="date">
              <div style="margin-top: 2%; margin-bottom: -3%;" *ngIf="campoNoValido('ingressDate')">
                <small class="text-danger">
                  Revisa fecha de ingreso, no puede ser superior a la fecha actual y solo hasta un mes menor.
                </small>
              </div>
            </div>
          </div>

          <!-- Campo de fecha y hora de registro o edición dado el caso, no modificable -->
          <div class="col-6">
            <label for="state" class="form-label">{{!isUpdate?"Fecha y hora de registro":"Fecha y hora de edición"}}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
              <input [formControl]="registerDate" placeholder="Fecha de registro" id="startDate" class="form-control">
            </div>
          </div>

        </div>

        <!-- Boton de registrar o actualizar dado el caso -->
        <div class="row">
          <div class="col-5"></div>

          <div *ngIf="!isUpdate" class="col-2">
            <button type="submit" class="btn btn-success">Registrar</button>
          </div>

          <div *ngIf="isUpdate" class="col-2">
            <button type="submit" class="btn btn-success">Actualizar</button>
          </div>

          <div class="col-5"></div>
        </div>

      </form>

    </div>


  </div>

</div>
