<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center fs-6">Lista Empleados</h5>
        </div>
        <div class="card-tools">
          <div class="row mt-3 ms-3">

            <!-- Campo para filtrar -->
            <div class="col-5">
              <div class="input-group">
                <input type="text" name="input_search" [formControl]="searchFilter" placeholder="Ingresa filtro"
                  class="form-control float-right">
              </div>
            </div>

            <div class="col-6"></div>

            <!-- Boton atajo para ir a crear un nuevo empleado -->
            <div class="col-1">
              <div class="btn-group">
                <a routerLink="register/new" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></a>
              </div>
            </div>

          </div>
        </div>

        <!-- Tabla con la lista de empleados -->
        <div class="card-body table-responsive">
          <table id="employees" class="table table-sm table-bordered table-striped">
            <thead>
              <tr *ngIf="employeesListTable.length > 0">
                <th scope="col" sortable="firstName" class="text-nowrap fs-6">Primer Nombre</th>
                <th scope="col" sortable="OtherNames" class="text-nowrap fs-6">Otros Nombres</th>
                <th scope="col" sortable="firstLastName" class="text-nowrap fs-6">Primer Apellido</th>
                <th scope="col" sortable="secondLastName" class="text-nowrap fs-6">Segundo Apellido</th>
                <th scope="col" sortable="tipyId" class="text-nowrap fs-6">Tipo de Identificación</th>
                <th scope="col" sortable="numId" class="text-nowrap fs-6">N° Identificación</th>
                <th scope="col" sortable="countryJob" class="text-nowrap fs-6">País empleo </th>
                <th scope="col" sortable="email" class="text-nowrap fs-6">Correo </th>
                <th scope="col" sortable="state" class="text-nowrap fs-6">Estado</th>
                <th scope="col" sortable="state" class="text-nowrap fs-6">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeesListTable">
                <td class="fs-6">
                  <ngb-highlight [result]="employee.fisrtName" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.otherNames" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.firstLastName" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.secondLastName" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.documentType" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.documentNumber" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.countryJob" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.email" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td class="fs-6">
                  <ngb-highlight [result]="employee.state" [term]="searchFilter.value"></ngb-highlight>
                </td>
                <td style="text-align: center;">
                  <button type="button" (click)="deleteEmployee(employee)" style="margin-right: 2%; margin-bottom: 2%"
                    class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                  <button type="button" (click)="goUpdateEmployee(employee.id)"class="btn btn-info"><i class="fa-solid fa-pencil"></i></button>
                </td>
              </tr>

              <!-- Mensaje si no hay empleados -->
              <tr *ngIf="employeesListTable.length == 0">
                <td class="text-center" colspan="10">
                  <h5>No se encontraron empleados</h5>
                  <i class="fa-solid fa-face-frown"></i>
                </td>
              </tr>

            </tbody>
          </table>

          <!-- Paginación de la tabla -->
          <div class="text-center">
            <div class="d-flex justify-content-center p-2">
              <ngb-pagination [collectionSize]="collectionEmployeesSize" [(page)]="pageTable" [maxSize]="3"
                [pageSize]="sizePages" [boundaryLinks]="true" [size]="'sm'" (pageChange)="reloadEmployeesTable()">
              </ngb-pagination>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
